In [10]:
import pandas as pd

In [11]:
# Enrollment Data

In [12]:
df_enrollments = pd.read_excel("enrollments.xlsx")

In [13]:
pd.set_option("display.max_info_columns", 26)
df_enrollments.info(verbose=True)
pd.reset_option("display.max_info_columns")
df_enrollments.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161560 entries, 0 to 161559
Data columns (total 27 columns):
 #   Column                  Dtype
---  ------                  -----
 0   country                 object
 1   countrycode             object
 2   region                  object
 3   incomegroup             object
 4   iau_id                  object
 5   iau_id1                 object
 6   eng_name                object
 7   orig_name               object
 8   foundedyr               float64
 9   yrclosed                float64
 10  private01               float64
 11  coordinates             object
 12  latitude                object
 13  longitude               object
 14  phd_granting            float64
 15  m_granting              float64
 16  b_granting              float64
 17  divisions               float64
 18  total_fields            float64
 19  unique_fields           float64
 20  specialized             float64
 21  merger                  float64
 22  noiau                   float64
 23  year                    float64
 24  students5_interpolated  float64
 25  students5_extrapolated  float64
 26  students5_estimated     float64
dtypes: float64(16), object(11)
memory usage: 33.3+ MB

,foundedyr,yrclosed,private01,phd_granting,m_granting,b_granting,divisions,total_fields,unique_fields,specialized,merger,noiau,year,students5_interpolated,students5_extrapolated,students5_estimated
count,161525.000000,460.000000,161525.000000,161525.000000,21208.000000,21208.000000,21208.000000,21208.000000,21208.000000,161525.000000,161525.000000,161525.000000,161525.000000,5.394600e+04,1.055730e+05,1.428190e+05
mean,1938.505296,2007.595652,0.431506,0.054710,0.538853,0.844634,7.011316,26.703367,22.690400,0.211812,0.109500,0.002532,1993.933075,1.142522e+04,8.890148e+03,6.804206e+03
std,84.171055,14.315523,0.495288,0.227414,0.498500,0.362262,7.173974,33.393587,23.650079,0.408594,0.312267,0.050257,20.178274,3.622171e+04,2.950551e+04,2.435944e+04
min,859.000000,1952.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1950.000000,2.000000e+00,0.000000e+00,0.000000e+00
25%,1921.000000,2004.000000,0.000000,0.000000,0.000000,1.000000,3.000000,7.000000,7.000000,0.000000,0.000000,0.000000,1980.000000,1.879250e+03,1.124000e+03,1.148000e+03
50%,1958.000000,2014.000000,0.000000,0.000000,1.000000,1.000000,5.000000,16.000000,15.000000,0.000000,0.000000,0.000000,2000.000000,5.173000e+03,3.393000e+03,2.705000e+03
75%,1983.000000,2016.000000,1.000000,0.000000,1.000000,1.000000,9.000000,34.000000,31.000000,0.000000,0.000000,0.000000,2010.000000,1.247000e+04,9.199000e+03,6.492000e+03
max,2020.000000,2022.000000,1.000000,1.000000,1.000000,1.000000,119.000000,661.000000,257.000000,1.000000,1.000000,1.000000,2020.000000,2.673333e+06,2.673333e+06,2.673333e+06

In [14]:
df_enrollments.sample(10)

,country,countrycode,region,incomegroup,iau_id,iau_id1,eng_name,orig_name,foundedyr,yrclosed,...,divisions,total_fields,unique_fields,specialized,merger,noiau,year,students5_interpolated,students5_extrapolated,students5_estimated
89682,moldova,MDA,Europe and Central Asia,Lower middle income,IAU-019419,IAU-019419-1,University Of European Studies Of Moldova,Universitatea de Studii Europene din Moldova (...,1992.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,2005.0,NaN,NaN,1869.0
18043,canada,CAN,North America,High income,IAU-019836,IAU-019836-1,Saint-Anne University,Universit�� Sainte-Anne,1890.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1975.0,655.0,655.0,655.0
44656,germany,DEU,Europe and Central Asia,High income,IAU-004884,IAU-004884-1,Lutheran University Of Applied Sciences In Nur...,Evangelische Hochschule f��r angewandte Wissen...,1927.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1960.0,NaN,112.0,112.0
86381,mexico,MEX,Latin America and Caribbean,Upper middle income,IAU-009144,IAU-009144-1,Technological Instituto De Minatitlan,NaN,1972.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1985.0,2404.0,2404.0,2404.0
149359,united states,USA,North America,High income,IAU-013514,IAU-013514-1,Piedmont College,Piedmont College,1897.0,NaN,...,4.0,3.0,3.0,0.0,0.0,0.0,2015.0,1551.0,1551.0,1551.0
65654,israel,ISR,Middle East and North Africa,High income,IAU-001455,IAU-001455-1,Bar-Ilan University,(BIU),1953.0,NaN,...,57.0,100.0,69.0,0.0,0.0,0.0,2020.0,17896.0,17896.0,17896.0
146605,united states,USA,North America,High income,IAU-011420,IAU-011420-1,Martin University,Martin University,1977.0,NaN,...,4.0,18.0,16.0,0.0,0.0,0.0,2010.0,1290.0,1290.0,1290.0
158017,united states,USA,North America,High income,IAU-021288,IAU-021288-1,Winthrop University,NaN,1886.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1950.0,NaN,NaN,NaN
57474,indonesia,IDN,East Asia and Pacific,Upper middle income,IAU-014754,IAU-014754-1,Al-Hikmah College Of Economics,STIE Al-Hikmah,1991.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,2000.0,NaN,NaN,861.0
135232,united kingdom,GBR,Europe and Central Asia,High income,IAU-011011,IAU-011011-1,Liverpool Hope University,Liverpool Hope University,1844.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,2000.0,NaN,6906.0,6906.0

In [15]:
df_enrollments.isna().sum()

country                        0
countrycode                 1862
region                      1862
incomegroup                 1869
iau_id                         7
iau_id1                        7
eng_name                       7
orig_name                  23114
foundedyr                     35
yrclosed                  161100
private01                     35
coordinates                23208
latitude                   23208
longitude                  23208
phd_granting                  35
m_granting                140352
b_granting                140352
divisions                 140352
total_fields              140352
unique_fields             140352
specialized                   35
merger                        35
noiau                         35
year                          35
students5_interpolated    107614
students5_extrapolated     55987
students5_estimated        18741
dtype: int64

In [16]:
unique_values = {}
for column in df_enrollments.columns:
    unique_values[column] = len(df_enrollments[column].unique())
display(unique_values)

{'country': 198,
 'countrycode': 188,
 'region': 8,
 'incomegroup': 5,
 'iau_id': 17041,
 'iau_id1': 17841,
 'eng_name': 17653,
 'orig_name': 15537,
 'foundedyr': 451,
 'yrclosed': 33,
 'private01': 3,
 'coordinates': 15027,
 'latitude': 15026,
 'longitude': 15024,
 'phd_granting': 3,
 'm_granting': 3,
 'b_granting': 3,
 'divisions': 85,
 'total_fields': 261,
 'unique_fields': 185,
 'specialized': 3,
 'merger': 3,
 'noiau': 3,
 'year': 16,
 'students5_interpolated': 21033,
 'students5_extrapolated': 25055,
 'students5_estimated': 23718}

# Insights
- Have some encoded character (�) in eng_name and orig_name
- Looking at orig_name or eng_name and year as a unique ID does not work for this file but there isn't a column that is free of NULLS
    - Might just need to omit some records because they are not unique enough to be joined into the other dataset
    - This will require purging rows that have null for country
- Moist Text columns are being set to Object which should be typed to string for consistent ingestion into any database
- private01, phd_granting, specialized, merger, noiau could be represented as boolean
- m_grating and b_granting may also be represented as boolean if 0 is not a reserved value in the business case
- 8 unique values for region alleviate my previous statement about the non uniform and compound nature of the column
combination of orig_name or eng_name and year might be a good unique ID

## NaN representation
Sparse data representation in m_granting, b_granting, divisions, total_fields and unique_fields

Filling NaN with 0 may be the correct answer if 0 is not reserved value in context of the data

Due to my current limited domain knowledged I would raise questions downstream to the use case if NaN Null or 0 would be appropriate

## Typing:
### Following columns could be coverted to String
- country
- countrycode
- region
- incomegroup
- iau_id
- iau_id1
- eng_name
- orig_name
### Following columns could be converted to Integer
- m_granting
- b_granting
- divisions
- total_fields
- unique_fields
- students5_interpolated
- students5_extrapolated
- students5_estimated
### Following columns could be converted to Float or geocodes
- latitude
- longitude
### Following columns could be converted to dates
- foundedyr
- yrclosed
- year
## Consistency:
- Region being a composite of strings is a mess to use in any organizational capacity
- orig_name is a mess of the same value in eng_name and acronyms with ()
- coordinates is redundant with latitude and longitude or this could be a geocode column if needed

All conversions should be beholden to the requirements downstream business needs

# GDP Data

In [17]:
df_gdp = pd.read_csv("Countries_GDP_1960-2020.csv")

In [18]:
pd.set_option("display.max_info_columns", 26)
df_gdp.info(verbose=True)
pd.reset_option("display.max_info_columns")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 63 columns):
 #   Column        Dtype
---  ------        -----
 0   Country Name  object
 1   Country Code  object
 2   1960          float64
 3   1961          float64
 4   1962          float64
 5   1963          float64
 6   1964          float64
 7   1965          float64
 8   1966          float64
 9   1967          float64
 10  1968          float64
 11  1969          float64
 12  1970          float64
 13  1971          float64
 14  1972          float64
 15  1973          float64
 16  1974          float64
 17  1975          float64
 18  1976          float64
 19  1977          float64
 20  1978          float64
 21  1979          float64
 22  1980          float64
 23  1981          float64
 24  1982          float64
 25  1983          float64
 26  1984          float64
 27  1985          float64
 28  1986          float64
 29  1987          float64
 30  1988          float64
 31  1989          float64
 32  1990          float64
 33  1991          float64
 34  1992          float64
 35  1993          float64
 36  1994          float64
 37  1995          float64
 38  1996          float64
 39  1997          float64
 40  1998          float64
 41  1999          float64
 42  2000          float64
 43  2001          float64
 44  2002          float64
 45  2003          float64
 46  2004          float64
 47  2005          float64
 48  2006          float64
 49  2007          float64
 50  2008          float64
 51  2009          float64
 52  2010          float64
 53  2011          float64
 54  2012          float64
 55  2013          float64
 56  2014          float64
 57  2015          float64
 58  2016          float64
 59  2017          float64
 60  2018          float64
 61  2019          float64
 62  2020          float64
dtypes: float64(61), object(2)
memory usage: 59.2+ KB

In [19]:
df_gdp.sample(10)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
51,IDA only,IDX,2.582782e+10,2.706902e+10,2.929229e+10,3.395604e+10,3.122632e+10,3.579803e+10,3.879375e+10,3.915811e+10,...,8.580000e+11,8.650000e+11,9.430000e+11,1.010000e+12,1.010000e+12,1.020000e+12,1.100000e+12,1.180000e+12,1.240000e+12,1.280000e+12
98,Suriname,SUR,9.965000e+07,1.077000e+08,1.161500e+08,1.259500e+08,1.344000e+08,1.541500e+08,1.903500e+08,2.207000e+08,...,4.422277e+09,4.980000e+09,5.145758e+09,5.240606e+09,5.126291e+09,3.317439e+09,3.591624e+09,3.996248e+09,3.984484e+09,2.884248e+09
11,Bermuda,BMU,8.446665e+07,8.924999e+07,9.414999e+07,9.636665e+07,1.075667e+08,1.143390e+08,1.341734e+08,1.551030e+08,...,6.312691e+09,6.378188e+09,6.465756e+09,6.413988e+09,6.654541e+09,6.899911e+09,7.142316e+09,7.224329e+09,7.484113e+09,6.842700e+09
111,Uganda,UGA,4.230084e+08,4.415241e+08,4.490126e+08,5.161478e+08,5.890566e+08,8.848739e+08,9.257703e+08,9.676471e+08,...,2.787173e+10,2.730592e+10,2.891579e+10,3.261240e+10,3.238718e+10,2.920399e+10,3.074447e+10,3.292703e+10,3.535306e+10,3.760037e+10
96,Sub-Saharan Africa (excluding high income),SSA,2.925628e+10,3.039983e+10,3.293647e+10,3.773520e+10,3.685211e+10,4.104690e+10,4.428934e+10,4.378402e+10,...,1.610000e+12,1.680000e+12,1.780000e+12,1.850000e+12,1.680000e+12,1.560000e+12,1.670000e+12,1.750000e+12,1.800000e+12,1.700000e+12
75,Nigeria,NGA,4.196092e+09,4.467200e+09,4.909303e+09,5.165489e+09,5.552822e+09,5.874423e+09,6.366793e+09,5.203136e+09,...,4.050000e+11,4.560000e+11,5.090000e+11,5.470000e+11,4.870000e+11,4.050000e+11,3.760000e+11,3.970000e+11,4.480000e+11,4.320000e+11
26,Algeria,DZA,2.723593e+09,2.434727e+09,2.001428e+09,2.702960e+09,2.909293e+09,3.136259e+09,3.039835e+09,3.370843e+09,...,2.000000e+11,2.090000e+11,2.100000e+11,2.140000e+11,1.660000e+11,1.600000e+11,1.700000e+11,1.750000e+11,1.720000e+11,1.450000e+11
59,St. Kitts and Nevis,KNA,1.236656e+07,1.248323e+07,1.254156e+07,1.283323e+07,1.341655e+07,1.359393e+07,1.446908e+07,1.674234e+07,...,8.177593e+08,8.004148e+08,8.397704e+08,9.165667e+08,9.231556e+08,1.008889e+09,1.060741e+09,1.078519e+09,1.164815e+09,9.807407e+08
102,Chad,TCD,3.135827e+08,3.339753e+08,3.576357e+08,3.717670e+08,3.922475e+08,4.169263e+08,4.327949e+08,4.498263e+08,...,1.217231e+10,1.236736e+10,1.295354e+10,1.394077e+10,1.095039e+10,1.009778e+10,1.000040e+10,1.123917e+10,1.131495e+10,1.082908e+10
39,Greece,GRC,4.335186e+09,4.961400e+09,5.213048e+09,5.895278e+09,6.669673e+09,7.689154e+09,8.591518e+09,9.275601e+09,...,2.830000e+11,2.420000e+11,2.390000e+11,2.350000e+11,1.960000e+11,1.930000e+11,1.990000e+11,2.120000e+11,2.050000e+11,1.890000e+11

In [20]:
df_gdp.isna().sum()

Country Name    0
Country Code    0
1960            1
1961            0
1962            0
               ..
2016            0
2017            0
2018            0
2019            0
2020            0
Length: 63, dtype: int64

In [21]:
df_gdp.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,1.190000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,...,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02
mean,7.737603e+10,7.918769e+10,8.417576e+10,9.092311e+10,9.976049e+10,1.091809e+11,1.177544e+11,1.244980e+11,1.338719e+11,1.480550e+11,...,4.266303e+12,4.403837e+12,4.564958e+12,4.711580e+12,4.499309e+12,4.564773e+12,4.886253e+12,5.207231e+12,5.303437e+12,5.146832e+12
std,2.252438e+11,2.335094e+11,2.507523e+11,2.696523e+11,2.944479e+11,3.211343e+11,3.498230e+11,3.731073e+11,4.036768e+11,4.443198e+11,...,1.111174e+13,1.135331e+13,1.167128e+13,1.199261e+13,1.139102e+13,1.158322e+13,1.231733e+13,1.311345e+13,1.332070e+13,1.292930e+13
min,1.201201e+07,1.159201e+07,1.254156e+07,1.283323e+07,1.341655e+07,1.359393e+07,1.446908e+07,1.583518e+07,1.460000e+07,1.585000e+07,...,6.761296e+08,6.929333e+08,7.212074e+08,7.277148e+08,7.554000e+08,7.744296e+08,7.921778e+08,8.113000e+08,8.250407e+08,8.074741e+08
25%,4.362676e+08,4.747200e+08,4.716388e+08,5.081636e+08,5.418066e+08,6.561320e+08,6.940201e+08,7.417202e+08,7.688965e+08,7.862815e+08,...,1.775774e+10,1.768566e+10,1.878204e+10,1.958781e+10,1.941603e+10,2.070647e+10,2.203821e+10,2.353911e+10,2.328174e+10,2.052449e+10
50%,2.723593e+09,2.667191e+09,3.050546e+09,3.570681e+09,3.184116e+09,3.590080e+09,4.230784e+09,4.194304e+09,4.571298e+09,5.726672e+09,...,2.365000e+11,2.250000e+11,2.345000e+11,2.395000e+11,2.165000e+11,2.310000e+11,2.525000e+11,2.750000e+11,2.740000e+11,2.580000e+11
75%,2.926200e+10,3.041073e+10,3.294838e+10,3.774822e+10,3.686680e+10,4.106156e+10,4.430473e+10,4.379965e+10,4.683330e+10,5.355294e+10,...,1.610000e+12,1.680000e+12,1.790000e+12,1.850000e+12,1.680000e+12,1.560000e+12,1.670000e+12,1.750000e+12,1.800000e+12,1.702500e+12
max,1.390000e+12,1.440000e+12,1.550000e+12,1.670000e+12,1.820000e+12,1.990000e+12,2.160000e+12,2.290000e+12,2.480000e+12,2.730000e+12,...,7.370000e+13,7.530000e+13,7.740000e+13,7.960000e+13,7.510000e+13,7.630000e+13,8.120000e+13,8.630000e+13,8.760000e+13,8.470000e+13

# Insights
- Solid data set with few nan values
- No need to do a Unique value check for a dataset like this
- Country Name as a key is useful
    - Casing is not consistent
    - Aggregated values while interesting probably will be removed in the final product
    - Abbreviations need to be resolved
    - Word ordering when "The" is in the country name
    - Inconsistent use of "and" or "&"

# Joining Data Insights:
- Country Code + year will be my join keys
- GDP data needs to be pivoted to be added to be joined to the enrollment data
-