In [10]:
import pandas as pd

In [11]:
# Enrollment Data

In [12]:
df_enrollments = pd.read_excel("enrollments.xlsx")

In [13]:
pd.set_option("display.max_info_columns", 26)
df_enrollments.info(verbose=True)
pd.reset_option("display.max_info_columns")
df_enrollments.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161560 entries, 0 to 161559
Data columns (total 27 columns):
 #   Column                  Dtype
---  ------                  -----
 0   country                 object
 1   countrycode             object
 2   region                  object
 3   incomegroup             object
 4   iau_id                  object
 5   iau_id1                 object
 6   eng_name                object
 7   orig_name               object
 8   foundedyr               float64
 9   yrclosed                float64
 10  private01               float64
 11  coordinates             object
 12  latitude                object
 13  longitude               object
 14  phd_granting            float64
 15  m_granting              float64
 16  b_granting              float64
 17  divisions               float64
 18  total_fields            float64
 19  unique_fields           float64
 20  specialized             float64
 21  merger                  float64
 22  noiau                   float64
 23  year                    float64
 24  students5_interpolated  float64
 25  students5_extrapolated  float64
 26  students5_estimated     float64
dtypes: float64(16), object(11)
memory usage: 33.3+ MB

,foundedyr,yrclosed,private01,phd_granting,m_granting,b_granting,divisions,total_fields,unique_fields,specialized,merger,noiau,year,students5_interpolated,students5_extrapolated,students5_estimated
count,161525.000000,460.000000,161525.000000,161525.000000,21208.000000,21208.000000,21208.000000,21208.000000,21208.000000,161525.000000,161525.000000,161525.000000,161525.000000,5.394600e+04,1.055730e+05,1.428190e+05
mean,1938.505296,2007.595652,0.431506,0.054710,0.538853,0.844634,7.011316,26.703367,22.690400,0.211812,0.109500,0.002532,1993.933075,1.142522e+04,8.890148e+03,6.804206e+03
std,84.171055,14.315523,0.495288,0.227414,0.498500,0.362262,7.173974,33.393587,23.650079,0.408594,0.312267,0.050257,20.178274,3.622171e+04,2.950551e+04,2.435944e+04
min,859.000000,1952.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1950.000000,2.000000e+00,0.000000e+00,0.000000e+00
25%,1921.000000,2004.000000,0.000000,0.000000,0.000000,1.000000,3.000000,7.000000,7.000000,0.000000,0.000000,0.000000,1980.000000,1.879250e+03,1.124000e+03,1.148000e+03
50%,1958.000000,2014.000000,0.000000,0.000000,1.000000,1.000000,5.000000,16.000000,15.000000,0.000000,0.000000,0.000000,2000.000000,5.173000e+03,3.393000e+03,2.705000e+03
75%,1983.000000,2016.000000,1.000000,0.000000,1.000000,1.000000,9.000000,34.000000,31.000000,0.000000,0.000000,0.000000,2010.000000,1.247000e+04,9.199000e+03,6.492000e+03
max,2020.000000,2022.000000,1.000000,1.000000,1.000000,1.000000,119.000000,661.000000,257.000000,1.000000,1.000000,1.000000,2020.000000,2.673333e+06,2.673333e+06,2.673333e+06

In [14]:
df_enrollments.sample(10)

,country,countrycode,region,incomegroup,iau_id,iau_id1,eng_name,orig_name,foundedyr,yrclosed,...,divisions,total_fields,unique_fields,specialized,merger,noiau,year,students5_interpolated,students5_extrapolated,students5_estimated
89682,moldova,MDA,Europe and Central Asia,Lower middle income,IAU-019419,IAU-019419-1,University Of European Studies Of Moldova,Universitatea de Studii Europene din Moldova (...,1992.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,2005.0,NaN,NaN,1869.0
18043,canada,CAN,North America,High income,IAU-019836,IAU-019836-1,Saint-Anne University,Universit�� Sainte-Anne,1890.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1975.0,655.0,655.0,655.0
44656,germany,DEU,Europe and Central Asia,High income,IAU-004884,IAU-004884-1,Lutheran University Of Applied Sciences In Nur...,Evangelische Hochschule f��r angewandte Wissen...,1927.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1960.0,NaN,112.0,112.0
86381,mexico,MEX,Latin America and Caribbean,Upper middle income,IAU-009144,IAU-009144-1,Technological Instituto De Minatitlan,NaN,1972.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1985.0,2404.0,2404.0,2404.0
149359,united states,USA,North America,High income,IAU-013514,IAU-013514-1,Piedmont College,Piedmont College,1897.0,NaN,...,4.0,3.0,3.0,0.0,0.0,0.0,2015.0,1551.0,1551.0,1551.0
65654,israel,ISR,Middle East and North Africa,High income,IAU-001455,IAU-001455-1,Bar-Ilan University,(BIU),1953.0,NaN,...,57.0,100.0,69.0,0.0,0.0,0.0,2020.0,17896.0,17896.0,17896.0
146605,united states,USA,North America,High income,IAU-011420,IAU-011420-1,Martin University,Martin University,1977.0,NaN,...,4.0,18.0,16.0,0.0,0.0,0.0,2010.0,1290.0,1290.0,1290.0
158017,united states,USA,North America,High income,IAU-021288,IAU-021288-1,Winthrop University,NaN,1886.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1950.0,NaN,NaN,NaN
57474,indonesia,IDN,East Asia and Pacific,Upper middle income,IAU-014754,IAU-014754-1,Al-Hikmah College Of Economics,STIE Al-Hikmah,1991.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,2000.0,NaN,NaN,861.0
135232,united kingdom,GBR,Europe and Central Asia,High income,IAU-011011,IAU-011011-1,Liverpool Hope University,Liverpool Hope University,1844.0,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,2000.0,NaN,6906.0,6906.0

In [15]:
df_enrollments.isna().sum()

country                        0
countrycode                 1862
region                      1862
incomegroup                 1869
iau_id                         7
iau_id1                        7
eng_name                       7
orig_name                  23114
foundedyr                     35
yrclosed                  161100
private01                     35
coordinates                23208
latitude                   23208
longitude                  23208
phd_granting                  35
m_granting                140352
b_granting                140352
divisions                 140352
total_fields              140352
unique_fields             140352
specialized                   35
merger                        35
noiau                         35
year                          35
students5_interpolated    107614
students5_extrapolated     55987
students5_estimated        18741
dtype: int64

In [16]:
unique_values = {}
for column in df_enrollments.columns:
    unique_values[column] = len(df_enrollments[column].unique())
display(unique_values)

{'country': 198,
 'countrycode': 188,
 'region': 8,
 'incomegroup': 5,
 'iau_id': 17041,
 'iau_id1': 17841,
 'eng_name': 17653,
 'orig_name': 15537,
 'foundedyr': 451,
 'yrclosed': 33,
 'private01': 3,
 'coordinates': 15027,
 'latitude': 15026,
 'longitude': 15024,
 'phd_granting': 3,
 'm_granting': 3,
 'b_granting': 3,
 'divisions': 85,
 'total_fields': 261,
 'unique_fields': 185,
 'specialized': 3,
 'merger': 3,
 'noiau': 3,
 'year': 16,
 'students5_interpolated': 21033,
 'students5_extrapolated': 25055,
 'students5_estimated': 23718}

# Insights
- Have some encoded character (�) in eng_name and orig_name
- Looking at orig_name or eng_name and year as a unique ID does not work for this file but there isn't a column that is free of NULLS
    - Might just need to omit some records because they are not unique enough to be joined into the other dataset
    - This will require purging rows that have null for country
- Moist Text columns are being set to Object which should be typed to string for consistent ingestion into any database
- private01, phd_granting, specialized, merger, noiau could be represented as boolean
- m_grating and b_granting may also be represented as boolean if 0 is not a reserved value in the business case
- 8 unique values for region alleviate my previous statement about the non uniform and compound nature of the column
combination of orig_name or eng_name and year might be a good unique ID

## NaN representation
Sparse data representation in m_granting, b_granting, divisions, total_fields and unique_fields

Filling NaN with 0 may be the correct answer if 0 is not reserved value in context of the data

Due to my current limited domain knowledged I would raise questions downstream to the use case if NaN Null or 0 would be appropriate

## Typing:
### Following columns could be coverted to String
- country
- countrycode
- region
- incomegroup
- iau_id
- iau_id1
- eng_name
- orig_name
### Following columns could be converted to Integer
- m_granting
- b_granting
- divisions
- total_fields
- unique_fields
- students5_interpolated
- students5_extrapolated
- students5_estimated
### Following columns could be converted to Float or geocodes
- latitude
- longitude
### Following columns could be converted to dates
- foundedyr
- yrclosed
- year
## Consistency:
- Region being a composite of strings is a mess to use in any organizational capacity
- orig_name is a mess of the same value in eng_name and acronyms with ()
- coordinates is redundant with latitude and longitude or this could be a geocode column if needed

All conversions should be beholden to the requirements downstream business needs